<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/update/name" id="updateName" method="post">
    <h2>change name</h2>
    <fieldset class="signUp">
        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
        <label>First Name: <input required type="text" name="account_firstname"  value="<%= locals.account_firstname %>"></label>
        <label>Last Name: <input required type="text" name="account_lastname" value="<%= locals.account_lastname %>"></label>
        <label>Email: <input required type="email" name="account_email" placeholder="Enter a valid email address" value="<%= locals.account_email %>"></label>
        <input type="submit" id="submitName" name="submit" value="Update Account" disabled>
    </fieldset>
</form>

<form action="/account/update/password" id="updatePassword" method="post">
    <h2>change password</h2>
    <fieldset class="signUp">
        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
        <label>Password: <input required type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
        <input type="submit" id="submitPass" name="submit" value="Update Password" disabled>
    </fieldset>
</form>

<script src="/js/acc-update.js"></script>